RewriteEngine On

# Allow direct access to the assets and styles folders
RewriteRule ^public/media/ - [L]
RewriteRule ^public/assets/ - [L]
RewriteRule ^public/scripts/ - [L]

# Redirect requests to the public folder
RewriteRule ^(.*)$ public/index.php [L]
